@{
    ViewBag.Title = "NIBIR FASHION";
}
<h2>Customer</h2>

<div class="col-lg-3">
    <img src="~/Images/1.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/2.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/5.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/6.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>


<hr />
<h3>Product</h3>
<div class="col-lg-3">
    <img src="~/Images/Gharara.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/Pices.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/Saree.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/Showl.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<hr />
<h3>Nibir fashione</h3>
<div class="col-lg-3">
    <img src="~/Images/nibirfashion1.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/nibirfashion2.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/nibirfashion3.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>
<div class="col-lg-3">
    <img src="~/Images/nibirfashion5.jpg" alt="Not supported" style="margin:50px" height="200" width="200" class="img-rounded" />
</div>


