@{
    ViewBag.Title = "NIBIR FASHION";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact us</h3>

<pre>

Moble No :      +8801885571642   
FaceBook Page : NIBIR FASHION
FaceBook Grupe: NIBIR FASHION
Instagram Page : NIBIR FASHION
Youtube Channel: NIBIR FASHION
Imo :      +8801885571642   
   
</pre>