
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2><strong>Login Page </strong></h2><br />
            <form asp-action="Roll" asp-controller="Account" method="post">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" id="RollName" name="RollName" placeholder="Enter Roll Name">
                </div>
              
                <div class="form-check">
                    <button class="btn btn-info" type="reset">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

